:root {
    --darkteal: #1d3a44;
    --beige: #d1cfbb;
    --grayyellow: #c2ba6f;
    --lightblue: #769ca8;
}


/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* CLEAR */
.clear {
    float: none;
    width: 100%;
}


/* BODY */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--beige);
    font-family: Arial, Helvetica, sans-serif;
}

body a:hover {
    opacity: 0.6;
    color: gray;
}


/* NAVIGATIONAL LINKS */
nav {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    background-color: var(--beige);
    justify-content: right;
}

nav a {
    padding: 0rem 1rem 0rem 0rem;
    margin: 0;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
}


/* HEADER */
header {
    background-color: var(--beige);
    display:block;
    font-size: xx-large;
    padding-bottom: 2rem;
}

header img {
    position: absolute;
    top: 2rem;
    width: 5rem;
    height: auto;
}

header h1 {
    padding-left: 2rem;
    font-weight: bolder;
}


/* MAIN */
main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


/* SECTION */
section {
    background-color: var(--darkteal);
    padding: 0 1rem 1rem 1rem;
    width: 63%;
    margin: 0;
    float: left;
    position: relative;
    top: 2rem;
    left: 1rem;
}

section h2 {
    font-size: xx-large;
    color: white;
    text-decoration: underline;
}

section h3 {
    color: var(--beige);
    text-decoration: underline;
    font-size: x-large;
}

section img {
    width: 30rem;
    height: auto;
}

section figure {
    margin: 0;
    padding: 2rem;
}

section figcaption {
    color: var(--beige);
    font-size: large;
}

section p {
    color: var(--beige);
    font-size: x-large;
    font-style: italic;
}

section ul {
    list-style-type: none;
}

section li {
    padding: 0.1rem;
}

section a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

table {
    position: relative;
    left: 1rem;
    max-width: 90%;
}

th {
    color: var(--darkteal);
    font-size: small;
    border: 2px solid white;
    margin: 0;
    background-color: lightslategrey;
}

td {
    color: var(--lightblue);
    font-size: x-small;
    border: 2px solid white;
    margin: 0;
}

.cityname {
    background-color: var(--lightblue);
    color: var(--darkteal);
}

.springfield td {
    background-color: var(--beige);
    color: black;
}

.chicago td {
    background-color: var(--beige);
    color: black;
}

.oakbrook td {
    background-color: var(--beige);
    color: black;
}


/* FORM */
form {
    text-align: left;
}

form label {
    color: white;
    font-weight: bolder;
    font-size: larger;
    padding: 0 0.5rem 2rem 0;
}

form input {
    font-size: large;
    padding-right: 20rem;
}

form select {
    font-size: large;
}

#message {
    padding-bottom: 6rem;
    padding-right: 20rem;
}

#first-name {
    margin-left: 0;
}

#last-name {
    margin-left: 0;
}

#confirm-email {
    margin-left: 0;
}

#inquiry-type {
    margin-left: 0;
}

/* ASIDE */
aside {
    background-color: var(--lightblue);
    list-style-position: inside;
    float: right;
    width: 35%;
    margin: 0;
    position: relative;
    top: 2rem;
    right: 1rem;
    padding-bottom: 2rem;
}

aside ol {
    margin: 0;
    list-style-position: inside;
    text-align: left;
}

aside li {
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
}

aside h3 {
    font-size: x-large;
    text-decoration: underline;
}

aside h4 {
    text-align: left;
    padding-left: 2rem;
    font-size: large;
}

aside img {
    max-width: 18rem;
    padding-bottom: 1rem;
    padding-top: 0;
}


/* FOOTER */
footer {
    margin: 1rem;
    width: 100%;
}

footer p {
    color: black;
    padding-top: 1rem;
    margin: 0;
}